@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
}
body {
  width: 100%;
  min-height: 100vh;
  transition: 0.3s ease-in-out;
}
body.dark {
  background: #20222f;
}
body.light {
  background: #f8f9fe;
}
.maindiv {
  margin: 2rem 12rem;
}
.maindiv .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.header .text h1 {
  font-weight: 600;
  font-size: 1.8rem;
}
.dark .header .text h1 {
  color: #fcfdfe;
}
.light .header .text h1 {
  color: #4a4a52;
  font-weight: 700;
}
.header .text h3 {
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: 0.4rem;
}
.dark .header .text h3 {
  color: #80849f;
}
.light .header .text h3 {
  color: #676a75;
}
.header .buttonbox {
  display: flex;
  align-items: center;
}
.header .buttonbox p {
  margin-right: 0.8rem;
  font-size: 0.9rem;
  font-weight: 500;
}
.dark .header .buttonbox p {
  color: #fbfefe;
}
.light .header .buttonbox p {
  color: #9ea3b3;
  font-weight: 600;
}
.herocardbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
.eachherocard {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem 1.5rem;
  color: white;
  border-radius: 0.3rem;
  position: relative;
  width: 16rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  transform: scale(0);
  opacity: 0;
}
.dark .eachherocard {
  background: #252b43;
}
.light .eachherocard {
  background: #f0f3fa;
}
.dark .eachherocard:hover {
  background: #333a56;
}
.light .eachherocard:hover {
  background: #e1e3f0;
}
.eachherocard .handle {
  color: #888fad;
  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.eachherocard .handle img {
  vertical-align: middle;
  margin-right: 0.5rem;
}
.eachherocard .count {
  font-size: 2.9rem;
  font-weight: 650;
}
.dark .eachherocard .count {
  color: #ffffff;
}
.light .eachherocard .count {
  color: #1b1e27;
}
.eachherocard .follower {
  font-size: 0.8rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0.2rem 0 1rem;
  font-weight: 500;
}
.eachherocard .update {
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 0.5rem;
}
.update.up {
  color: hsl(356, 69%, 56%);
}
.update.down {
  color: hsl(356, 69%, 56%);
}
.eachherocard .update img {
  vertical-align: middle;
  margin-right: 0.3rem;
}
.fb::before,
.ig::before,
.tw::before,
.yt::before {
  content: "";
  height: 0.3rem;
  width: 100%;
  top: 0;
  position: absolute;
  border-radius: 0.3rem 0.3rem 0 0;
}
.fb::before {
    background: linear-gradient(to right,hsl(0, 96%, 54%), hsl(27, 100%, 52%),rgb(250, 25, 25));
}
.tw::before {
    background: linear-gradient(to right,hsl(234, 96%, 54%), hsl(204, 97%, 70%), hsl(229, 96%, 54%));
}
.ig::before {
  background: linear-gradient(to right,hsl(123, 96%, 20%), hsl(91, 97%, 41%), hsl(123, 97%, 23%));
}
.yt::before {
    background: linear-gradient(to right,hsl(263, 100%, 4%), hsl(263, 96%, 27%), hsl(271, 95%, 8%));
}


.numc {
  color: hsl(0, 96%, 54%);
}
.numa {
    color: hsl(204, 96%, 54%);
}
.numr {
    color: hsl(140, 96%, 54%);
}
.numd {
    color: hsl(271, 93%, 12%);
}


.cardbox h2 {
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.dark .cardbox h2 {
  color: #ececec;
}
.light .cardbox h2 {
  color: #666978;
}
.detailcardbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.eachdetailcard {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  width: 16rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  transform: scale(0);
  opacity: 0;
}
.dark .eachdetailcard {
  background: #252b43;
}
.dark .eachdetailcard:hover {
  background: #333a56;
}
.light .eachdetailcard {
  background: #f0f3fa;
}
.light .eachdetailcard:hover {
  background: #e1e3f0;
}
.eachdetailcard .topline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.eachdetailcard .title {
  font-weight: 600;
  font-size: 0.9rem;
}
.dark .eachdetailcard .title {
  color: #8389a0;
}
.light .eachdetailcard .title {
  color: #444446;
}
.eachdetailcard .bottomline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.eachdetailcard .bottomline .count {
  font-size: 2.3rem;
  font-weight: 600;
}
.dark .eachdetailcard .bottomline .count {
  color: #fcfcfe;
}
.light .eachdetailcard .bottomline .count {
  color: #101010;
}
.eachdetailcard .bottomline .update {
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 0.5rem;
}
.eachdetailcard .bottomline .update img {
  vertical-align: middle;
  margin-right: 0.3rem;
}
.attribution {
  text-align: right;
  line-height: 1.5;
  font-size: 0.9rem;
  padding: 0 1rem 1rem 0;
}
.dark .attribution {
  color: white;
}
.light .attribution {
  color: black;
}
.attribution a {
  font-weight: 500;
}
.dark .attribution a {
  color: whitesmoke;
}
.light .attribution a {
  color: grey;
}
.animated {
  transform: scale(1);
  opacity: 1;
}
.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.dark .slider {
  background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}
.light .slider {
  background: #3ca8c6;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: #3a3959;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.dark .slider.round:before {
  background: #303954;
}
.light .slider.round:before {
  background: white;
}
@media only screen and (max-width: 1450px) {
  .maindiv {
    margin: 2rem 6rem;
  }
}
@media only screen and (max-width: 1250px) {
  .maindiv {
    margin: 2rem 2rem;
  }
}
@media only screen and (max-width: 850px) {
  .maindiv {
    margin: 2rem 6rem;
  }
}
@media only screen and (max-width: 750px) {
  .maindiv {
    margin: 2rem 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .eachherocard,
  .eachdetailcard {
    width: 100%;
  }
  .maindiv .header {
    flex-direction: column;
  }
  .maindiv .header .text {
    padding-bottom: 1rem;
    border-bottom: 1px solid #84848496;
    margin-bottom: 1rem;
  }
  .header .buttonbox {
    justify-content: space-between;
  }
}
















.dark .tabletext{
    color: #fff;
    font-weight: 500;
  
}

.light .tabletext{
    color: rgb(175, 96, 5);
    font-weight: 500;

}

 h1{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
  }
  
  table{
    width:1050px;
    table-layout: fixed;

  }
.dark .tbl-header{
    background-color: rgba(255,255,255,0.3);  
}
.light .tbl-header{
    background-color: rgba(8, 75, 184, 0.438);
    
}

  .tbl-content{
    overflow-x:auto;
    margin-top: 0px;
  }
  th{
    padding: min(1vw,9px);
    border-radius: 20px;
    text-align: center;
    font-weight: 600;
    font-size: min(3vw,16px);
    text-transform: uppercase;
  }
  td{
    padding: min(1vw,12px);
    border-radius: 20px;

    text-align: center;
    vertical-align:middle;
    font-weight: 500;
    font-size: min(3vw,14px);
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }

.dark .tabstt{
    background-color: rgba(235, 12, 168, 0.472);
    color: rgb(242, 193, 247);

}
.light .tabstt{
    background-color: rgba(235, 12, 168, 0.472);
    color: rgb(25, 2, 80);

}


.dark .tabact{
    background-color: rgba(3, 132, 141, 0.431);
    color: rgb(224, 237, 238);

}

.light .tabact{
    background-color: rgba(50, 50, 51, 0.431);
    color: rgb(0, 0, 0);
}

.dark .tabrec{
    background-color: rgba(38, 235, 12, 0.411);
    color: rgb(60, 248, 223);
}
.light .tabrec{
    background-color: rgba(38, 235, 12, 0.411);
    color: rgb(3, 75, 7);

}

.dark .tabcon{
    background-color: rgba(235, 12, 56, 0.411);
    color: rgb(206, 193, 10);

}
.light .tabcon{
    background-color: rgba(235, 12, 56, 0.411);
    color: rgb(88, 0, 0);

}

.dark .tabdead{
    background-color: rgba(90, 12, 235, 0.431);
    color: rgb(165, 148, 243);+
}
.light .tabdead{
    background-color: rgba(90, 12, 235, 0.431);
    color: rgb(25, 2, 44);

}



section{
    margin: 0px;
}



  /* demo styles */
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
 
  
  /* follow me template */
  .dark .made-with-love {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-size: 16px;
    font-family: arial;
    color: #fff;
  }
  .light .made-with-love {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-size: 16px;
    font-family: arial;
    color: rgb(177, 65, 0);
  }


  .made-with-love i {
    font-style: normal;
    color: #F50057;
    font-size: 14px;
    position: relative;
    top: 2px;
  }
  .made-with-love a {
    color: #fff;
    text-decoration: none;
  }
  .made-with-love a:hover {
    text-decoration: underline;
  }
  
  
  /* for custom scrollbar for webkit browser*/
  
  ::-webkit-scrollbar {
      width: 12px;
  } 
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 16px rgba(0,0,0,0.3); 
  } 
  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(114, 114, 117, 0.657); 
  }




  
  .row {
    margin-top: 2em;
  }
  
  .light {
    background: white;
    padding: 2em 0;
    margin-top: 2em;
  }
  .light .row {
    margin: 0;
  }
  
  .col {
    padding: 1em;
  }
  
  .fifty {
    width: 50%;
  }
  
  .graphiq {
    width: 100%;
    position: relative;
    display: flex;
    border:2px ;
    border-color: rgba(221, 216, 216, 0.699);
    background-color: rgba(43, 43, 41, 0.308);
  }
  .graphiq:hover{
    background-color: rgba(99, 99, 96, 0.308);

  }
  .graphiq__graph-layout {
    flex: 1;
    overflow-x: hidden;
  }
  .graphiq__graph-values {
    font-size: 0.75em;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1.25em;
    text-align: right;
    font-weight: bold;
  }
  .graphiq__line {
    fill: none;
    stroke-miterlimit: 10;
  }
  .graphiq__graph-key {
    display: flex;
    justify-content: space-between;
  }
  .graphiq__graph-key .key {
    font-size: 0.95em;
    border: 30px 0px 30px 0px;
    text-align: center;
    cursor: pointer;
  }
  .graphiq__y-division {
    fill: none;
    stroke-miterlimit: 10;
    z-index: -1;
    transition: 0.25s ease-in;
  }
  .graphiq__graph-dot {
    transition: stroke-width ease-in-out 0.2s;
    transform-origin: 50% 50%;
  }
  .graphiq__value-dialog {
    display: block;
    position: absolute;
    background: transparent;
    font-size: 0.75em;
    line-height: 0;
    padding: 0.66em 0.33em;
    font-weight: bold;
    -webkit-animation: float 0.3s ease-out forwards;
            animation: float 0.3s ease-out forwards;
  }
  
  @-webkit-keyframes float {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY();
    }
  }
  
  @keyframes float {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY();
    }
  }

  .vanishappear{
    color: rgba(0, 255, 255, 0);
  }
  .vanishappear:hover{
    color: rgb(0, 255, 255);
  }

.dark .graphhead{
      text-align: center;
      padding: 1vw;
      font-size: 16px;
      color:rgb(0, 255, 136);
}

.light .graphhead{
      text-align: center;
      padding: 2vw;
      color:rgb(212, 0, 255);
}












  